
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blue</title>
    <link rel="stylesheet" href="~/css/Home.css" type="text/css" runat="server" />
    <script src="https://kit.fontawesome.com/30d0976aea.js"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body>
    <header>
        <div class="header">
            <ul class="header__list">
                <li class="header__list-items">
                    <div class="header__grid-search">
                        <div class="header__list-items-icon">
                            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                        </div>
                        <input class="header__list-items-search"
                               type="search"
                               placeholder="Tìm kiếm trên Blue" />
                    </div>
                </li>
                <li class="header__list-items">
                    <a href="" class="header__bg-logo">
                        <div class="header__text-logo">Blue</div>
                    </a>
                </li>
                <li class="header__list-items">
                    <div class="header__user-name-img">
                        <div class="header__user-name">@ViewBag.TenUser</div>
                        <img src="@ViewBag.AnhDaiDien"
                             alt="User_img"
                             class="header__user-img" />
                    </div>
                </li>
            </ul>
        </div>
    </header>
         @RenderBody()
    <footer>
        <div>
        </div>
    </footer>
    <script>
        var cmt = document.querySelectorAll(".comment_post");
        var showcmt = document.querySelector(".center__others-post-cmt");
        var showcmtAll = document.querySelectorAll(".center__others-post-cmt");
        var reaction = document.querySelectorAll(".grid__others-post-reaction");
        Array.from(reaction).forEach(function (reaction) {
            reaction.addEventListener('click', function (event) {
                event.preventDefault();
            });
        });
        cmt.forEach(function (cmt, index) {
            cmt.addEventListener('click', function (event) {
                showcmtAll.forEach(function (e) {
                    e.classList.remove('active');
                });

                showcmtAll[index].classList.toggle('active');
            });
        });
       
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
     //   $('.form__others-post-cmt-items').submit(function (e) {
        $(document).on('submit', '.form__others-post-cmt-items', function (e) { 
            e.preventDefault();
            var data_cmt = $('.center__others-post-cmt');
            var formCmt = $(this).serializeArray();
                $.ajax({
                    url: '/Home/PostCmt',
                    type: 'POST',
                    data: formCmt,
                    success: function (data) {
                      loadComments()
                    },
                    error: function (xhr, status, error) {
                        console.log("Loi");
                        console.error(error);
                    }
                });
        });

        function loadComments() {
            $.ajax({
                url: '/Home/LoadCmt', 
                type: 'GET',
                success: function (response) {
                    $('.center__others-post-cmt.active').html(response);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }
    </script>
</body>
</html>
